---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="https://ucarecdn.com/a421dea6-0b72-42a9-a7c5-a40d2acd48c0/" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">Chris Bell</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend pharetra ipsum vitae dignissim. Sed lobortis ante sit amet felis aliquam luctus. Praesent ut varius velit. Pellentesque libero odio, mattis ac malesuada id, pretium quis tellus. Phasellus neque tellus, porta sed cursus a, rutrum vitae mi. Pellentesque pretium, tellus a venenatis tempor, quam ligula congue ex, a suscipit ligula orci quis odio. Morbi tristique metus et diam porta pellentesque.</p>
      <p>Links:</p>
      <p>Link 1</p>
    </div>
  </header> <!-- End Header -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
